// .text__ {
//     &color-- {
//         &yellow {
//             color: $yellow;
//         }
//         &gray1 {
//             color: $gray1;
//         }
//         &gray2 {
//             color: $gray2;
//         }
//         &white {
//             color: $white;
//         }
//     }
// }


.min-section {
    margin-top: 32px !important;
}

.font-bold {
    font-weight: 600;
}

.no-margin-bottom {
    margin-botttom: 0px !important;
}