// h1 {
//     font-size: 4rem;
//     @media (min-width: 768px) {
//         font-size: 5rem;
//         width: 60%;
//     }
//     @media (min-width: 992px) {
//         font-size: 10rem;
//     }
//     @media (min-width: 1400px) {
//         font-size: 12.5rem;
//         width: 80%;
//       }
// }

h1 {
    font-size: 30px;
    font-weight: 600;
    margin-top: 0;
    margin-bottom: 0;
}

h2 {
    margin-bottom: 24px;
    font-size: 24px;
    font-weight: 500;
}