//Colors
$black: #000000;
$white: #ffffff;
$blue: #2BA7FA;
$blue2: #182652;
$blue3: #E9F2F9;
$blue4: #192653;
$purple: #5465FC;
$purple2: #9B00FE;
$purple3: #DED7FF;
$purple4: #7B61FF;
$gray: #E5E5E5;
$gray2: #F5F5F5;
$gray3: #9A9A9A;
$gray4: #333333;
$gray5: #8E8EA1;
$red: #FF0067;
$red2: #FF638E;
$red3: #C61E1E;
$green: #52C665;
$yellow: #DFAE00;